@import './vars';

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: $text_color;
    outline: none;
    font-weight: 500;
    text-decoration: none;

    .inverse & {
        color: #fff;
    }
}

input, button, textarea, a {
    outline: none;
}

p {
	margin: 0 0 1em 0;
}

.inverse {
    color: #fff;
}

.accent {
    color: $accent;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

.text {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}

.hamburger {
    display: none;
}

.grow {
    flex-grow: 1;
}

.button {
   position: relative;
   display: inline-block;
   text-decoration: none;
   padding: 21px 30px;
   font-size: 17px;
   line-height: 1;
   font-weight: bold;
   text-align: center;
   color: #fff !important;
   border: 0;
   min-width: 165px;
   border-radius: 5px;
   background-color: #1a2457;
   cursor: pointer;

   &:hover {
   }    

   &:active {
    top: 1px;
   }
}

.input-div {
  position: relative;

   .input {
      width: 100%;  
   }
}

.input, .textarea {
    text-align: center;
    background: transparent;
    color: $text_color;
    font-size: 14px;
    line-height: inherit;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    font-family: $default_family, sans-serif;
    padding: 22px 30px;   
  
    &.error {
		border-color: red;
		color: red;

		&+.error-message {
			display: block;
		}
	}

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    padding-left: 35px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #909090;
		opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #909090;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #909090;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.text {
    &-phone {
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
    }

    &-center {
        text-align: center;
    }
}



