@import './vars';

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}

@mixin gradient() {  
  background-image: linear-gradient(6deg, rgb(53,55,121) 0%, rgb(201,32,47) 100%);
  background-image: -webkit-linear-gradient(6deg, rgb(53,55,121) 0%, rgb(201,32,47) 100%);
  background-image: -ms-linear-gradient( 6deg, rgb(53,55,121) 0%, rgb(201,32,47) 100%);
  background-image: -moz-gradient(6deg, rgb(53,55,121) 0%, rgb(201,32,47) 100%);
  background-image: -o-gradient(6deg, rgb(53,55,121) 0%, rgb(201,32,47) 100%);
}

@mixin gradientHover() {
  background-image: -moz-linear-gradient( 6deg, rgb(106,47,94) 0%, rgb(53,55,121) 100%);
  background-image: -webkit-linear-gradient( 6deg, rgb(106,47,94) 0%, rgb(53,55,121) 100%);
  background-image: -ms-linear-gradient( 6deg, rgb(106,47,94) 0%, rgb(53,55,121) 100%);
  background-image: -olinear-gradient( 6deg, rgb(106,47,94) 0%, rgb(53,55,121) 100%);
  background-image: linear-gradient( 6deg, rgb(106,47,94) 0%, rgb(53,55,121) 100%);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: $text_color;
    outline: none;
    font-weight: 500;
    text-decoration: none;

    .inverse & {
        color: #fff;
    }
}

input, button, textarea, a {
    outline: none;
}

p {
	margin: 0 0 1em 0;
}

.inverse {
    color: #fff;
}

.accent {
    color: $accent;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

.text {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}

.hamburger {
    display: none;
    margin-left: 20px;
}

.grow {
    flex-grow: 1;
}

.button {
   position: relative;
   display: inline-block;
   text-decoration: none;
   padding: 13px 10px;
   font-size: 18px;
   line-height: 1;
   font-weight: normal;
   text-align: center;
   color: #fff !important;
   border: 0;
   min-width: 165px;
   border-radius: 5px;
   background-color: #1a2457;
   cursor: pointer;

   &:hover {
   }    

   &:active {
    top: 1px;
   }
}

.input-div {
  position: relative;

   .input {
      width: 100%;  
   }
}

.input, .textarea {
    background: transparent;
    color: #000;
    font-size: 14px;
    line-height: inherit;
    border: none;
    background-color: #fff;
    font-family: $default_family, sans-serif;
    padding: 12px 20px 12px 35px;   
  
    &.error {
		border-color: red;
		color: red;

		&+.error-message {
			display: block;
		}
	}

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    padding-left: 35px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #828181;
    font-weight: 300;
		opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #828181;
    font-weight: 300;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #828181;
    font-weight: 300;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.text {
    &-phone {
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
    }

    &-center {
        text-align: center;
    }
}

.form {
   text-align: left;

   &-info {
      font-size: 10px;
   }

   form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }

   .input-div {
      margin-right: 20px;
   }

   .input-div, .button {
      margin-bottom: 10px;
   }
}



